<html lang="en"></html>
  <head></head>
  <body>
    <div id="root">
      <div>
        <% for (var i = 0; i < orderVariants.length; ++i) { %>
        <div>
          <div style="width: 100%; display: flex; flex-direction: row; align-items: center; border-bottom: 1px solid;">
            <div style="width: 14%; padding: 8px;">VENDOR</div>
            <div style="width: 25%;">
              <div style="padding: 8px;">ITEM</div>
            </div>
            <div style="width: 14%;">
              <div style="padding: 8px;">COLOR</div>
            </div>
            <div style="width: 35%; display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
              <% for (var j = 0; j < orderVariants[i].sizeVariants.length; ++j) { %>
              <div style="width: <%= 100/orderVariants[i].sizeVariants.length %>%; text-align: center;"><%= orderVariants[i].sizeVariants[j] %></div>
              <% } %>
            </div>
            <div style="flex-grow: 1; text-align: center; align-self: center; padding: 8px;">TOTAL QTY</div>
          </div>
          <div style="width: 100%; display: flex; flex-direction: row; border-bottom: 1px solid;">
            <div style="width: 14%; padding: 8px;">
              <%= orderVariants[i].product.brand.brandName %>
            </div>
            <div style="width: 25%; display: flex; flex-direction: column; border-right: 1px solid;">
              <div style="padding: 8px;">
                <%= orderVariants[i].product.productCode + (orderVariants[i].product.productCode !== (orderVariants[i].manufacturingCode || '') ? ' (' + orderVariants[i].manufacturingCode + ')' : '' ) %>
              </div>
              <div style="padding: 8px;">
                <%= orderVariants[i].manufacturingTitle %>
              </div>
            </div>
            <div style="width: 14%; display: flex; flex-direction: column; border-right: 1px solid;">
              <% for (var k = 0; k < orderVariants[i].manufacturingColorVariants.length; ++k) { %>
              <div style="padding: 8px;">
                <%= orderVariants[i].manufacturingColorVariants[k] %>
              </div>
              <% } %>
            </div>
            <div style="width: 35%; display: flex; flex-direction: column; border-right: 1px solid;">
              <% for (var k = 0; k < orderVariants[i].colorVariants.length; ++k) { %>
              <div style="display: flex; flex-direction: row; flex-grow: 1; justify-content: space-around; align-items: center;">
                <% for (var j = 0; j < orderVariants[i].sizeVariants.length; ++j) { %>
                <div style="width: <%= 100/orderVariants[i].sizeVariants.length %>%; text-align: center;">
                  <%= orderVariants.orderVariantTable[i][j] || '.' %>
                </div>
                <% } %>
              </div>
              <% } %>
            </div>
            <div style="flex-grow: 1; align-self: center; text-align: center; padding: 8px;">
              <%= orderVariants[i].totalQuantity %>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>